@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+SC:wght@100..900&family=Afacad+Flux:wght@100..1000&family=LXGW+WenKai+TC&family=Noto+Serif+TC:wght@200..900&family=Noto+Sans+TC:wght@200..900&family=Zhi+Mang+Xing&display=swap');
:root 
{
    /* animation : b .3s infinite ;  */
    --deg : 15deg ; 
    font-size : 1em ; 
    --first-colour : linear-gradient( 15deg , #2d4095 , #57c1ff ) ; 
    --first-bg : linear-gradient( 15deg , #fff , #fff ) ; 
    --first-date : #000 ; 
    --first-date-font : "Afacad Flux" ; 
    --noto-sans : "Noto Sans TC" , "Noto Sans SC" ; 
    --noto-serif : "Noto Serif TC" , "Noto Serif SC" ; 
    --colour : #333 ; 
    --colour-article : #000 ; 
    --colour-article-sub : #ccc ; 
    --colour-sub : #ccc ; 
    --bg-colour : #fff ; 
    --font-kai : "BiaukaiTC" , "cwTeXKai" , "DFKai-SB" , "TW-Kai" , sans-serif ; 
    --end-colour : linear-gradient(var(--deg),#004aad,#ff4304) ; 
    --end-Font : 'Anton' ; 
}
*
{
    margin : 0 ; 
    padding : 0 ; 
    box-sizing : border-box ; 
}
html , body 
{
    width : 100% ; 
    height : 100vh ; 
}
body 
{
    font-family : "LXGW WenKai TC"/*google font*/ , DFKai-SB/*windows內建字體*/ , sans-serif ; 
    font-weight : 400 ; 
    font-style : normal ; 
}
ul , ol 
{
    list-style-type : none ; 
}
a 
{
    color : #00f ; 
    text-decoration : none ; 
    font-weight : 500 ; 
    font-family : var(--noto-sans) ,  sans-serif ; 
}
.aaa 
{
    justify-content : center ; 
    align-items : center ; 
    width : 100% ; 
    height : 100vh ; 
    display : flex ; 
    font-size : 2rem ; 
    color : var(--colour) ; 
    background-color : var(--bg-colour) ; 
    flex-direction : column ; 
}
.click-left , .click-right
{
    display : none ; 
}
h1:not( .fst h1 ):not( .end h1 ) 
{
    font-family : var(--noto-serif) ; 
    font-weight : 900;
}
p 
{
    width : 40em ; 
    text-indent : 2em ; 
}
h6 
{
    font-size : 1.5em ; 
}

/*first*/
.fst 
{
    background : var(--first-bg) ; 
}
.fst h1 
{
    position : relative ; 
    font-family : 'Xingkai SC' ; 
    color : transparent ; 
    background-clip : text ; 
    background-image : var(--first-colour) ; 
}
.fstD 
{
    color : var(--first-date) ; 
    position : absolute ; 
    bottom : 2rem ; 
    left : 3rem ; 
    font-family : var(--first-date-font) ; 
}

/* e */
.e 
{
    font-size : 1rem ; 
    position : relative ; 
}
.e h1 
{
    position : absolute ; 
    top : 10px ; 
    left : 10px ; 
    font-size : 5rem ; 
    writing-mode : vertical-lr ; 
}
.e div 
{
    display : flex ; 
    flex-direction : column ; 
    justify-content: center;
    align-items: center;
    writing-mode : vertical-lr ; 
}
    
/*end*/
.end h1 
{
    color : transparent ; 
    font-family : var(--end-Font) ; 
    font-size : 17.5rem ; 
    position : relative ; 
    top : 0 ; 
    left : 0 ; 
    font-weight : 400 ; 
    background-clip : text ; 
    background-image : var(--end-colour) ; 
}
