@import url('https://fonts.googleapis.com/css2?family=Anton&family=Afacad+Flux:wght@100..1000&family=LXGW+WenKai+TC&family=Noto+Serif+TC:wght@200..900&family=Noto+Sans+TC:wght@200..900&family=Zhi+Mang+Xing&display=swap');
@font-face 
{
    font-family: 'cwTeXKai';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot) ; 
    src: url(https://fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot?#iefix) format('embedded-opentype'),url(https://fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff2) format('woff2'),url(https://fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff) format('woff'),url(https://fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.ttf) format('truetype') ; 
}
@counter-style a 
{
    system : numeric ; 
    range : 0 infinite ; 
    symbols : '零' '壹' '貳' '參' '肆' '伍' '陸' '柒' '捌' '玖' ; 
    prefix : '' ; 
    suffix : '、' ; 
}
@keyframes _0 
{
    from { opacity : 0 ; } 
    to { opacity : 1 ; }
}
@keyframes a 
{
    0%{ content : '\003e\00a0\00a0\00a0' ; } 
    50% { content : '\00a0\003e\00a0\00a0' ; } 
    100% { content : '\003e\00a0\00a0\00a0' ; } 
}
@keyframes b 
{
    0%{ --deg : 0deg ; } 
    12.5%{ --deg : 45deg ; } 
    25%{ --deg : 90deg ; } 
    37.5%{ --deg : 135deg ; } 
    50%{ --deg : 180deg ; } 
    62.5%{ --deg : 225deg ; } 
    75%{ --deg : 270deg ; } 
    87.5%{ --deg : 315deg ; } 
    100%{ --deg : 360deg ; }
}
:root 
{
    animation : b .3s infinite ; 
    font-size : 1em ; 
    --first-date : #000 ; 
    --first-date-font : "Afacad Flux" ; 
    --noto-sans : "Noto Sans TC" ; 
    --noto-serif : "Noto Serif TC" ; 
    --colour : #333 ; 
    --colour-article : #000 ; 
    --colour-article-sub : #ccc ; 
    --colour-sub : #ccc ; 
    --bg-colour : #fff ; 
    --font-kai : "BiaukaiTC" , "cwTeXKai" , "DFKai-SB" , "TW-Kai" , sans-serif ; 
    --end-colour : linear-gradient(var(--deg),#004aad,#ff4304) ; 
    --end-Font : 'Anton' ; 
}
*
{
    margin : 0 ; 
    padding : 0 ; 
    box-sizing : border-box ; 
}
html , body 
{
    width : 100% ; 
    height : 100vh ; 
}
body 
{
    font-family : "LXGW WenKai TC"/*google font*/ , cwTeXKai , DFKai-SB/*windows內建字體*/ , sans-serif ; 
    font-weight : 400 ; 
    font-style : normal ; 
}
noscript 
{
    width : 100% ; 
    display : flex ; 
    justify-content : center ; 
    align-items : center ; 
    position : fixed ; 
    top : 0 ; 
    font-family : var(--noto-sans) ; 
    font-size : 10rem ; 
    font-weight : 900 ; 
}
ul , ol 
{
    list-style-type : none ; 
}

.aaa 
{
    justify-content : center ; 
    align-items : center ; 
    position : fixed ; 
    width : 100% ; 
    height : 100vh ; 
    display : none ; 
    font-size : 2rem ; 
    color : var(--colour) ; 
    background-color : var(--bg-colour) ; 
}
#flscrn
{
    font-weight : 900 ; 
    font-size : 5rem ; 
    color : transparent ; 
    position : fixed ; 
    height : 100vh ; 
    width : 100% ; 
    display : flex ; 
    flex-direction : column ; 
    justify-content : center ; 
    align-items : center ; 
}
#flscrn input 
{
    margin-bottom : 3rem ; 
}
#flscrn span 
{
    background : linear-gradient( 35deg , #ef5fa7 , #f00 ) ; 
    background-clip : text ; 
    cursor : pointer ; 
    transition : linear .15s ; 
    z-index : 2 ; 
}
#flscrn span::before { content : '\003e' ;  font-family : sans-serif ;  color : #f00 ; }#flscrn span::after { content : '\003c' ;  font-family : sans-serif ;  color : #ef5fa7 ; }
#flscrn span:hover::before { content : '\003c' ;  color : #0ff ; }#flscrn span:hover::after { content : '\003e' ;  color : #10a058 ; }
#flscrn span:hover 
{
    background : linear-gradient(35deg , #10a058 , #0ff ) ; 
    background-clip : text ; 
    font-size : 7rem ; 
}
.click-left , .click-right
{
    opacity : 0 ; 
    width : 50% ; 
    height : 100vh ; 
    position : fixed ; 
    z-index : 999999999 ; 
    top : 0 ; 
    display : block ; 
    cursor : none ; 
}
.click-right
{
    right : 0 ; 
}
.click-left:focus , .click-right:focus 
{
    outline : 0 ; 
}

/*end*/
.end h1 
{
    color : transparent ; 
    font-family : var(--end-Font) ; 
    font-size : 17.5rem ; 
    position : relative ; 
    top : 0 ; 
    left : 0 ; 
    font-weight : 400 ; 
    background-clip : text ; 
    background-image : var(--end-colour) ; 
}
