/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* header */
header nav a img[b-4zjoink7fz] 
{
  height : 3rem ; 
}



/* footer */
footer[b-4zjoink7fz] 
{
  margin : 1rem ; 
  margin-bottom : 0 ; 
}

footer > div:first-child[b-4zjoink7fz] 
{
  margin-left : 1rem ; 
  color : #057b7b ; 
}
footer > div:first-child ul li[b-4zjoink7fz] 
{
  list-style-type : disc ; 
}

footer > div:last-child[b-4zjoink7fz] 
{
  background : #f2f2f2 ; 
  margin : 0 -1rem ; 
}
footer > div:last-child > span[b-4zjoink7fz] , footer > div:last-child > ul[b-4zjoink7fz] , footer > div:last-child > span > ul > li[b-4zjoink7fz] 
{
  margin : 1rem ; 
  margin-bottom : 0 ; 
}
footer > div:last-child > span > ul > li[b-4zjoink7fz]::before 
{
  content : '>' ; 
} 
footer > div:last-child a[b-4zjoink7fz] , footer > div:last-child a:visited[b-4zjoink7fz] 
{
  color : #000 ; 
}
footer > div:last-child a:hover[b-4zjoink7fz] , footer > div:last-child a:focus[b-4zjoink7fz] 
{
  color : #c03 ; 
  text-decoration : underline ; 
}
footer > div:last-child > ul[b-4zjoink7fz] 
{
  display : flex ; 
  align-items : center ; 
  border-left : solid 1px #000 ; 
}
footer > div:last-child > ul li[b-4zjoink7fz] 
{
  border-right : solid 1px #000 ; 
  padding : 0 1rem ; 
}